@model SBDProject.Models.Squad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Squad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
