@model SBDProject.Models.Team

@{
    ViewBag.Title = "Szczegóły drużyny";
}

<h1 class="alert-info col-md-12 text-center header">@Model.Name</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            Lokalizacja drużyny
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            <img src="@Model.Logo" />
        </dd>

        <dt>Liga</dt>
        <dd>
            <a href="/Ligues/Details/@Model.Ligue.Id">@Model.Ligue.Name</a>
        </dd>

        @if (Model.Coach.Any())
        {
            <dt>Trenerzy</dt>
            foreach (var coach in Model.Coach)
            {
                <dd>
                    <a href="/Coaches/Details/@coach.Id">@coach.FirstName @coach.LastName</a>
                </dd>
            }
        }

        @if (Model.Player.Any())
        {
            <dt>
                Zawodnicy
            </dt>
            foreach (var player in Model.Player)
            {
                <dd>
                    <a href="/Players/Details/@player.Id">@player.FirstName @player.LastName</a>
                </dd>
            }
        }
    </dl>
</div>
<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Usuń", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    }
    @Html.ActionLink("Powrót do listy drużyn", "Index", null, new { @class = "btn btn-primary" })
</p>
