@model SBDProject.Models.Team

@{
    ViewBag.Title = "Details";
}

<h1 class="alert-info col-md-12 text-center header">@Model.Name</h1>

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            <img src="@Model.Logo" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            Zawodnicy
        </dt>
        @foreach (var player in Model.Player)
        {
            <dd>
                @player.FirstName @player.LastName
            </dd>
        }
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
