
@{
    ViewBag.Title = "Index";
}
<div class="tiles-container">
    <a href="@Url.Action("Index","Teams")">
        <div class="custom-tile" style=" background-color: #1A659E;">
            <p>Zarzadzaj drużynami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Referees")">
        <div class="custom-tile" style="background-color:#004E89;">
            <p>Zarzadzaj sedziami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Tournaments")">
        <div class="custom-tile" style="background-color:#D0EFD6;">
            <p>Zarzadzaj turniejami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Statistics")">
        <div class="custom-tile" style="background-color:#F7C59F;">
            <p>Satystyki</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Coaches")">
        <div class="custom-tile" style="background-color:#FF6B35;">
            <p>Zarządzaj trenerami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Locations")">
        <div class="custom-tile" style="background-color:#480100;">
            <p>Zarzadzaj obiektami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Players")">
        <div class="custom-tile" style="background-color:#480100;">
            <p>Zarzadzaj Zawodnikami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Ligues")">
        <div class="custom-tile" style="background-color:#480100;">
            <p>Zarządzaj ligami</p>
        </div>
    </a>
</div>


