@model SBDProject.Models.Player

@{
    ViewBag.Title = "Usuwanie zawodnika";
}

<h2>Usuwanie zawodnika</h2>

<h3>Czy na pewno chcesz usunąc zawodnika: @Model.FirstName @Model.LastName?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
           Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Gra od
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayingFrom)
        </dd>

        <dt>
            Gra do
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayingTo)
        </dd>

        <dt>
           Pozycja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Name)
        </dd>

        <dt>
            Drużyna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> 
            @Html.ActionLink("Powrót do listy zawodników", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
