@model IEnumerable<SBDProject.Models.Player>

@{
    ViewBag.Title = "Zawodnicy";
}

<h1 class="alert-info col-md-12 text-center header">ZAWODNICY</h1>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Dodaj nowego zawodnika", "Create", "Players", new { @class = "btn btn-primary" });
}

<div class="row players">
    @foreach (var player in Model)
    {
        <div class="col-md-3 player">
            <h2 class="player-name">@player.FirstName @player.LastName</h2>
            <a href="@Url.Action("Details", "Players", new { id = player.Id })">
                <div>
                    <label>Od - do</label>
                    <span>@player.PlayingFrom.ToString("dd/MM/yyyy") - @player.PlayingTo.ToString("dd/MM/yyyy")</span>

                    <label>Pozycja</label>
                    <span>@player.Position.Name</span>
                </div>
            </a>
        </div>
    }
</div>