@model IEnumerable<SBDProject.Models.Player>
@{
    ViewBag.Title = "MainIndex";
}

<h1 class="alert-info col-md-12 text-center">ZAWODNICY</h1>

<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.FirstName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LastName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PlayingFrom)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PlayingTo)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Position.Name)
    </th>
    <th></th>
</tr>

@foreach (var player in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => player.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => player.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => player.PlayingFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => player.PlayingTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => player.Position.Name)
        </td>
    </tr>
}
    </table>
