
@model SBDProject.Models.Ligue

@{
    ViewBag.Title = "Szczegóły ligi";
}


<h1 class="alert-info col-md-12 text-center header">@Model.Name</h1>
    <table class="table table-responsive table-hover">
        <tr>
            <td><h4>Nazwa drużyny</h4></td>
            <td><h4>Lokalizacja</h4></td>
            <td><h4>Logo</h4></td>
            <td></td>
        </tr>
        @foreach (var team in Model.Team)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.Location.Name</td>
                <td><img src="@team.Logo"</td>
                <td>@Html.ActionLink("Szczegóły", "Details", "Teams", new { id = team.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </table>
