@model SBDProject.Models.Ligue

@{
    ViewBag.Title = "Details";
}


<h1>TUNIEJE W LIDZE @Html.DisplayFor(model => model.Name)</h1>

<table class="table table-responsive table-hover">
    <tr>
        <td><h4>Nazwa turnieju</h4></td>
        <td><h4>Data turnieju</h4></td>
        <td><h4>Mecze</h4></td>
    </tr>
    @foreach (var tournament in Model.Tournament)
    {
        <tr>
            <td>@tournament.Name</td>
            <td>@tournament.TimeFrom.ToString("dd-MM-yyyy") - @tournament.TimeTo.ToString("dd-MM-yyyy")</td>
            <td>@foreach (var appointment in tournament.Appointment) {
                   <p>@appointment.Team.Name</p> 
            }
            </td>            
        </tr>
    }
</table>
