@model IEnumerable<SBDProject.Models.Ligue>

@{
    ViewBag.Title = "Index";
}
<h1 class="alert-info col-md-12 text-center header">LIGI</h1>
@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Create","Create","Ligues",null,new { @class = "btn btn-primary"})
}

<br />
<table class="table table-bordered table-responsive">
    <tr>
        <th class="col-md-10">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-lg-2"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>         
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
