@model IEnumerable<SBDProject.Models.Location>

@{
    ViewBag.Title = "Index";
}
<h1 class="alert-info col-md-12 text-center header">STADIONY</h1>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Dodaj nowy obiekt", "Create", "Locations", null, new { @class = "btn btn-primary" });
}
<div class="row locations">
    @foreach (var stadium in Model)
    {
        <div class="col-md-6 location">
            <div class="row">
                <h2 class="location-title col-md-12">@stadium.Name</h2>
                <img class="img-responsive logo col-md-6" src="@Url.Content(stadium.Picture!=null ? stadium.Picture : "~/Images/noimg.png")" />
                <div class="col-md-6">
                    <div class="row">
                        <h5 class="col-md-4">@stadium.Address</h5>
                        <div class="col-md-8">
                            @foreach (var team in stadium.Team)
                            {
                                <p>@team.Name</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @Html.ActionLink("Edytuj", "Edit", "Locations", new { id = stadium.Id}, new { @class = "btn btn-primary" })
        </div>
        
    }
</div>
