@model SBDProject.Models.Coach

@{
    ViewBag.Title = "Usuwanie trenera";
}

<h2>Usuwanie trenera</h2>

<h3>Czy na pewno usunąć trenera: @Model.FirstName @Model.LastName?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Kontrakt od
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingFrom)
        </dd>

        <dt>
            Kontrakt do
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingTo)
        </dd>

        <dt>
            Drużyna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń trenera" class="btn btn-danger" />
            @Html.ActionLink("Powrót do listy trenerów", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
