@model SBDProject.Models.Coach

@{
    ViewBag.Title = "Szczegóły trenera";
}

<h2>Szczegóły trenera</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Kontrakt od
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingFrom)
        </dd>

        <dt>
            Kontrakt do
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingTo)
        </dd>

        <dt>
            Drużyna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img src="@Model.Picture" />
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Usuń", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    }
    @Html.ActionLink("Powrót do listy trenerów", "Index", null, new { @class = "btn btn-primary" })
</p>
