@model SBDProject.Models.Statistic_detail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Statistic_detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statistic.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statistic.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
