@model SBDProject.Models.Referee

@{
    ViewBag.Title = "Usuwanie sędziego";
}

<h2>Usuwanie sędziego</h2>

<h3>Czy na pewno usunąć sędziego: @Model.FirstName @Model.LastName?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń sędziego" class="btn btn-danger" />
            @Html.ActionLink("Powrót do listy sędziów", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
