@model SBDProject.Models.Appointment

@{
    ViewBag.Title = "Dodawanie meczu";
}

<h2>Dodawanie meczu</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Gospodarze</label>
            <div class="col-md-10">
                @Html.DropDownList("TeamId1", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeamId1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Goście</label>
            <div class="col-md-10">
                @Html.DropDownList("TeamId2", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeamId2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Data spotkania</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" id="AppointmentDate" name="AppointmentDate" type="date">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Lokalizacja</label>
            <div class="col-md-10">
                @Html.DropDownList("LocationId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Frekfencja</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Attendance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Attendance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Sędzia główny</label>
            <div class="col-md-10">
                @Html.DropDownList("Referee1", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Sędzia boczny pierwszy</label>
            <div class="col-md-10">
                @Html.DropDownList("Referee2", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Sędzia boczny drugi</label>
            <div class="col-md-10">
                @Html.DropDownList("Referee3", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Sędzia techniczny</label>
            <div class="col-md-10">
                @Html.DropDownList("Referee4", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy meczów", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
