@model SBDProject.Models.Appointment

@{
    ViewBag.Title = "Szczegóły meczu";
}

<h2>Szczegóły meczu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data spotkania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            Frekfencja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance)
        </dd>

        <dt>
            Lokalizacja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            Gospodarze
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            Goście
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Powró do listy meczów", "Index", null, new { @class = "btn btn-primary" })
</p>
