@model SBDProject.Models.Appointment

@{
    ViewBag.Title = "Szczegóły meczu";
}

<h2>Szczegóły meczu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data spotkania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            Frekfencja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance)
        </dd>

        <dt>
            Lokalizacja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            Gospodarze
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            Goście
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1.Name)
        </dd>

        @if (Model.RefereeSqad.Any())
        {
            <dt>
                Sędziowie
            </dt>
            foreach (var referee in Model.RefereeSqad)
            {
                <dd>
                    @referee.RefereeType.Name - @referee.Referee.FirstName @referee.Referee.LastName
                </dd>
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Powrót do listy meczów", "Index", null, new { @class = "btn btn-primary" })
</p>
